*{
    margin: 0;
    padding: 0;
    font-family: "Poppins","Sans";
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#570079,#b70000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
   margin-top: -50px;
   margin-bottom: 50px; 
   color: white;
}
.hero h1 span{
    color: #8a2ffa;
}
textarea{
    width: 60vw;
    height: 250px;
    background: #403d84;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding:20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: white;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor:pointer;
}
select{
    flex: 1;
    color: white;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 30px;
     
}
